[submodule "paper-api"]
	path = paper-api
	url = git@github.com:thoughtworks-academy/recruiting-system-paper-api.git
[submodule "web"]
	path = web
	url = git@github.com:thoughtworks-academy/recruiting-system-web.git
[submodule "web-api"]
	path = web-api
	url = git@github.com:thoughtworks-academy/recruiting-system-express-api.git
[submodule "automated-test"]
	path = automated-test
	url = git@github.com:thoughtworks-academy/thoughtworks-academy-recruiting-system-automated-test.git
[submodule "teacher-admin-web"]
	path = teacher-admin-web
	url = git@github.com:thoughtworks-academy/recruiting-system-teacher-web.git
