### Node ###
# Logs
logs
*.log
npm-debug.log*

node_modules

.idea/
.vscode/


#
app/public/scripts
public/assets
public/css

.tmp/

coverage
doc/qa.md

.gradle

mysql.sql

*.iml
homework-script/*
!homework-script/calculate_median.sh
!homework-script/check-readme.sh
!homework-script/fibonacci_series.sh
!homework-script/thousands_separators.sh
!homework-script/collection-calculate-camp.sh
!homework-script/collection.sh
!homework-script/configure.sh
!homework-script/prepos.sh
.vscode/
homework-answer/*
!homework-answer/calculate_median
!homework-answer/fibonacci_series

