flyway.url=jdbc:mysql://mysql:3306/{{ MYSQL_DATABASE }}?useUnicode=yes&characterEncoding=UTF-8
flyway.user={{ MYSQL_USER }}
flyway.password={{ MYSQL_PASSWORD }}
flyway.locations={{ flyway_locations }}